<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="btn btn-success mb-2" (click)="agregarEmpleado()" *ngIf="!nuevo">Nuevo Empleado</div>
      <div class="btn btn-danger mb-2" (click)="agregarEmpleado()" *ngIf="nuevo">Cancelar</div>
      <div class="row" *ngIf='!nuevo'>
        <div class="col text-center">
          <div class="card shadow-lg" style="width: 18rem;" *ngFor="let empleado of empleados">
            <div class="card-body">
              <h5 class="card-title">{{empleado.persona.nombres}} {{empleado.persona.apellidos}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">ID del Empleado: {{empleado.idempleado}}</h6>
              <p class="card-text">Correo Electronico: {{empleado.email}}</p>
              <button class="btn btn-warning" (click)='editarEmpleado(empleado)'>Editar Datos</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf='nuevo'>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Nombres</label>
            <input type="text" class="form-control" placeholder="Nombres" [(ngModel)]="personaNueva.nombres"
              name="personaNueva.nombres">
          </div>
          <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input type="text" class="form-control" placeholder="Apellidos" [(ngModel)]="personaNueva.apellidos">
          </div>
          <div class="mb-3">
            <label class="form-label">Genero</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="personaNueva.genero"
              name="personaNueva.genero">
              <option selected>Seleccione un Genero</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <div class="form-group mb-3">
              <label class="form-label">Fecha de Nacimiento:</label>
              <input type="date" class="form-control" [(ngModel)]="personaNueva.fecha_nacimiento"
                name="personaNueva.fecha_nacimiento">
            </div>
            <div class="mb-3">
              <label class="form-label">Identificacion</label>
              <input type="number" class="form-control" placeholder="Identificacion" [(ngModel)]="personaNueva.identificacion">
            </div>
            <div class="mb-3">
              <label class="form-label">NIT</label>
              <input type="number" class="form-control" placeholder="NIT" [(ngModel)]="personaNueva.nit">
            </div>
            <div class="mb-3">
              <label class="form-label">Telefono 1</label>
              <input type="number" class="form-control" placeholder="Telefono 1" [(ngModel)]="personaNueva.telefono1">
            </div>
            <div class="mb-3">
              <label class="form-label">Telefono 2</label>
              <input type="number" class="form-control" placeholder="Telefono 2" [(ngModel)]="personaNueva.telefono2">
            </div>
            <label class="form-label">Asignar Clinica</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="empleadoNuevo.idclinica"
              name="personaNueva.genero">
              <option selected>Seleccione un Genero</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <label class="form-label mb-3">Asignar Rol</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="empleadoNuevo.idrol"
              name="personaNueva.genero">
              <option selected>Seleccione un Genero</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <div class="mb-3">
              <label class="form-label">Asigne un E-mail</label>
              <input type="text" class="form-control" placeholder="E-mail" [(ngModel)]="empleadoNuevo.email">
            </div>
            <div class="mb-3">
              <label class="form-label">Asigne un Password</label>
              <input type="password" class="form-control" placeholder="Password"
                [(ngModel)]="empleadoNuevo.contrasenia">
            </div>
            <div class="btn btn-primary" (click)="grabarEmpleado(personaNueva,empleadoNuevo)">Grabar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>