<div class="container">
    <br>
    <h1 class="displey-5">Factura</h1>
    <hr>
    <section class="row col-lg-10" style="border: 1px; justify-content:center;text-align:center; border-radius:20px;">
        <div class="card">
            <div card="card-header">
                <br>
                <h3 class="card-title text-center">Servicios de Fisioterapia, S.A.</h3>
                <p class="text-center">Calzada San José 7-22 Zona 2, San José Pinula, Guatemala</p>
                <p class="text-center">Nit: 123456k</p>
                <p class="text-center">Teléfono: 1234-5678</p>
                <label for="factura" class="form-label">DOCUMENTO TRIBURARIO ELECTRONICO</label><br>
                <label for="factura" class="form-label">FACTURA ELECTRONICA</label>
                
            </div>
            <div class="card-body" style="text-align: left; border: 1px ; border-radius:20px; ">
                <div class="form-group col-md-4" style="text-align: left;" ><label for="">Empleado:</label>
                    <select id="selectServicio" class="form-control">
                        <option value="0">--Seleccione--</option>
                        <option value="1"></option>
                    </select>
                </div>

                <form class="row">
                    <div class="form-group col-md-3">
                        <label for="">Número Factura:</label>
                        <input type="text" class="form-control" placeholder="123456">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Nit:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Razon Social:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Fecha Emisión:</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-9">
                        <label for="">Nombre:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="">Teléfono:</label>
                        <input type="text" class="form-control">
                    </div>

                </form>
            </div>
        </div>
    </section>

    <section class="row col-lg-10" style="border: 1px; justify-content:center;text-align:center; border-radius:20px;">
        <div class="card">
            <div class="card-body">
                <form class="row">
                    <div class="form-group col-md-2"><label for="">Cantidad</label><input type="text"
                            class="form-control"></div>
                    <div class="form-group col-md-5"><label for="">Descripción</label>
                        <select id="selectServicio" class="form-control">
                            <option value="0">--Seleccione--</option>
                            <option value="1"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-2"><label for=""></label>Precio Unitario<input type="text"
                            class="form-control"></div>
                    <div class="form-group col-md-2"><label for=""></label>Precio Total<input type="text"
                            class="form-control"></div>
                    <div class="form-group col-md-1" style="display: flex; align-items: center;">
                        <button class="bt btn-primary" style="border-radius:5px;">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <section class="row mt-1">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>



</div>