<div class="container">
    <br>
    <h1 class="displey-5">Servicios de Fisioterapia, S.A.</h1>
    <p>Calzada San José 7-22 Zona 2, San José Pinula, Guatemala</p>
    <hr>
    <section class="row" style="display: flex; justify-content:center; ">
        <div class="col text-center">
            <div class="card">
                <div card="card-header">
                    <br>
                    <h3 class="card-title">FACTURA</h3>
                    <hr>
                    <h2>Servicios de Fisioterapia, S.A.</h2>
                    <p>Nit: 123456k</p>
                    <p>Teléfono: 1234-5678</p>
                    <p>Calzada San José 7-22 Zona 2, San José Pinula, Guatemala</p>
                    
                </div>
                <div class="card-body">
                    <form class="row" style="display: flex; justify-content:center; ">
                        <div class="form-group col-md-3">
                            <label for="">Numero Factura:</label>
                            <input type="text" class="form-control" placeholder="123456">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Nit:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Razon Social:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Fecha Emisión:</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group col-md-4" >
                            <label for="">Nombre:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="">Teléfono:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-2" >
                            <label for="">Total:</label>
                            <input type="text" class="form-control">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col text-center">
            <div class="card">
                <div class="card-body">
                    <form class="row" style="display: flex; justify-content:center; ">
                        <div class="form-group col-md-2"><label for="">Cantidad</label><input type="text" class="form-control"></div>
                        <div class="form-group col-md-5"><label for="">Descripción</label><input type="text" class="form-control"></div>
                        <div class="form-group col-md-2"><label for=""></label>Precio Total<input type="text" class="form-control"></div>
                    </form>
                </div>
            </div>
        </div>

    </section>



</div>